body {
    margin: 0;
    padding: 0;
}
.header {
    & .headerProfile {
        height: 40px;
        background-color: #dcdcdc;
        & ul {
            margin: 0;
            text-align: right;
            padding-right: 10%;
            justify-content: center;
            padding-top: 11px;
            padding-bottom: 11px;
        }
        & ul li {
            display: inline;
            & a {
                text-decoration: none;
                color: black;
                cursor: pointer;
                font-size: 15px;
                padding: 11px 15px 11px 15px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
            }
            & a:hover {
                background: black;
                color: white;
            }
        }
    }
    & .headerMenu {
        background-color: #0ad09a;
        height: 60px;
        display: flex;
        align-items: center;
        & .headerMenuTitle--left {
            display: inline;
            text-align: left;
            margin-right: 40.8%;
            margin-left: 227px;
            & a {
                color: white;
                font-size: 25px;
                text-decoration: none;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
        }
        & .headerMenuTitle--right {
            display: inline;
            & ul {
                padding: 0;
            }
        }
        & ul li {
            display: inline;
            & a {
                text-decoration: none;
                color: white;
                cursor: pointer;
                font-size: 18px;
                padding: 11px 15px 11px 15px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
            }
        }
    }
}

.content {
    display: flex;
    & .contentContainer {
        margin: 8% 0 0 8%;
        align-items: baseline;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        & .contentContainer__img--logo {
            display: inline;
        }
        & .premium--background {
            display: inline;
            background-color: #ff4646;
            padding: 4px;
            border-radius: 5px;
            & .premium__span--title{
                color: white;
            }
        }
        & .titleH1--h1 {
            line-height: 20px; 
        }
        & .titleDes--des {
            width: 77%;
            line-height: 20px;
            & .titleDesMenu {
                line-height: 5px;
            }
        }
    }
    & .contentImg {
        display: inline;
        margin-top: 3%;
    }
}